* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header span {
  color: #f51b1b;
}

.content {
  margin: 2rem 0;
}
.content .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.2rem solid #f51b1b;
  border-radius: 1rem;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.content .comment__text {
  font-size: 1rem;
}
.content .comment__user {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 0.5rem;
}
.content .comment:last-child {
  margin-bottom: 0;
}

.footer {
  padding: 0 0 3rem;
}
.footer .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer .pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #f51b1b;
  border-radius: 1rem;
  width: 10rem;
  height: 4rem;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}
.footer .pagination__button p {
  font-size: 1.4rem;
  color: white;
}
.footer .pagination__button:hover {
  opacity: 1;
}
.footer .pagination__button:active {
  opacity: 0.8;
}
.footer .pagination .disabled {
  display: none;
  visibility: hidden;
  opacity: 0;
  scale: 0;
}

@media (min-width: 345px) {
  .wrapper {
    max-width: 320px;
  }
  .content .comment {
    padding: 2rem 1rem;
  }
  .content .comment__text {
    font-size: 1rem;
  }
  .content .comment__user {
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 0.5rem;
  }
}
@media (min-width: 425px) {
  .wrapper {
    max-width: 400px;
  }
  .content .comment__user {
    font-size: 0.6rem;
  }
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
  .content .comment {
    padding: 3rem 2rem;
  }
  .content .comment__text {
    font-size: 1.2rem;
  }
  .content .comment__user {
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 920px;
  }
  .content {
    margin: 2rem 0;
  }
  .content .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #f51b1b;
    border-radius: 1rem;
    padding: 4rem 2rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  .content .comment__text {
    font-size: 1.5rem;
  }
  .content .comment__user {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.3rem;
  }
  .content .comment:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    max-width: 1024px;
  }
  .content {
    margin: 2rem 0;
  }
  .content .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #f51b1b;
    border-radius: 1rem;
    padding: 4rem 2rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  .content .comment__text {
    font-size: 1.5rem;
  }
  .content .comment__user {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 1.3rem;
  }
  .content .comment:last-child {
    margin-bottom: 0;
  }
}