// === Sizes ===
$desktop: 1240px;

// === Colors ===
$main-bg: black;
$border-clr: #f51b1b;

// === Font ===
$main-font-clr: white;
$accent-font-clr: #f51b1b;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Mixins
@mixin flex($justify:center , $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin border() {
    border: .2rem solid $border-clr;
    border-radius: 1rem;
}

// Main styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-regular;
    color: $main-font-clr;
}

html, body {
    height: 100%;
}

main {
    @include flex();
    flex-direction: column;
    flex: 1 1 auto;
}

ul {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    max-width: $desktop;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

// Header
.header {
    @include flex(space-between);
    padding: 1rem 0;
    span {
        color: $accent-font-clr;
    }
}

// Content
.content {
    margin: 4rem 0;
    .comment {
        @include flex(space-between);
        @include border;
        padding: 4rem 2rem;
        margin-bottom: 1.5rem;
        position: relative;
        &__text {
            font-size: 1.5rem;
        }
        &__user {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            font-size: 1.3rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.info {
    @include border();
    padding: 1rem;
    position: fixed;
    right: 3rem;
    top: 8rem;
    max-width: 15rem;
    &__text {
        text-align: center;
        font-size: 1rem;
    }
}

// Footer
.footer {
    padding: 0 0 3rem;
    .pagination {
        @include flex;
        gap: 1rem;
        &__button {
            @include border;
            width: 10rem;
            height: 4rem;
            background-color: transparent;
            color: $main-font-clr;
            opacity: .4;
            font-size: 1.4rem;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: .8;
            }
            &:disabled {
                display: none;
                visibility: hidden;
                opacity: 0;
                scale: 0;
            }
        }
    }
}