// === Sizes ===
$desktop: 1240px;

// === Colors ===
$main-bg: black;
$border-clr: #f51b1b;

// === Font ===
$main-font-clr: white;
$accent-font-clr: #f51b1b;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Mixins
@mixin flex($justify:center , $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin border() {
    border: .2rem solid $border-clr;
    border-radius: 1rem;
}

// Main styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg;
    font-family: 'Roboto', sans-serif;
    font-weight: $font-regular;
    color: $main-font-clr;
}

html, body {
    height: 100%;
}

main {
    @include flex();
    flex-direction: column;
    flex: 1 1 auto;
}

ul {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    max-width: $desktop;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

// Header
.header {
    @include flex(space-between);
    padding: 1rem 0;
    span {
        color: $accent-font-clr;
    }
}

// Content
.content {
    margin: 2rem 0;
    .comment {
        @include flex(space-between);
        @include border;
        padding: 2rem 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        &__text {
            font-size: 1rem;
        }
        &__user {
            position: absolute;
            right: .5rem;
            bottom: .5rem;
            font-size: .5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Footer
.footer {
    padding: 0 0 3rem;
    .pagination {
        @include flex;
        gap: 1rem;
        &__button {
            @include flex;
            @include border;
            width: 10rem;
            height: 4rem;
            background-color: transparent;
            opacity: .4;
            cursor: pointer;
            p {
                font-size: 1.4rem;
                color: $main-font-clr;
            }
            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: .8;
            }
        }
        .disabled {
            display: none;
            visibility: hidden;
            opacity: 0;
            scale: 0;
        }
    }
}

@media (min-width: 345px) {
    .wrapper {
        max-width: 320px;
    }
    .content {
        .comment {
            padding: 2rem 1rem;
            &__text {
                font-size: 1rem;
            }
            &__user {
                right: .5rem;
                bottom: .5rem;
                font-size: .5rem;
            }
        }
    }
}
@media (min-width: 425px) {
    .wrapper {
        max-width: 400px;
    }
    .content {
        .comment {
            &__user {
                font-size: .6rem;
            }
        }
    }
}
@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
    .content {
        .comment {
            padding: 3rem 2rem;
            &__text {
                font-size: 1.2rem;
            }
            &__user {
                right: .5rem;
                bottom: .5rem;
                font-size: 1rem;
            }

        }
    }
}
@media (min-width: 1024px) {
    .wrapper {
        max-width: 920px;
    }
    .content {
        margin: 2rem 0;
        .comment {
            @include flex(space-between);
            @include border;
            padding: 4rem 2rem;
            margin-bottom: 1.5rem;
            position: relative;
            &__text {
                font-size: 1.5rem;
            }
            &__user {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                font-size: 1.3rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
@media (min-width: 1440px) {
    .wrapper {
        max-width: 1024px;
    }
    .content {
        margin: 2rem 0;
        .comment {
            @include flex(space-between);
            @include border;
            padding: 4rem 2rem;
            margin-bottom: 1.5rem;
            position: relative;
            &__text {
                font-size: 1.5rem;
            }
            &__user {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                font-size: 1.3rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}